<div class="email-field">


    <mat-form-field appearance="outline">


        <mat-label>

            {{ Question.title || 'Email' }}

        </mat-label>




        <input

            matInput

            type="email"

            [formControl]="control"

            [placeholder]="Question.placeholder || 'example@email.com'"

            [readonly]="Question.readOnly"

        >


    </mat-form-field>





    @if(errorMessage){

        <small class="validation-error">

            {{errorMessage}}

        </small>

    }





    @if(Question.helpText){

        <small class="help">

            {{Question.helpText}}

        </small>

    }


</div>