<app-field-container

    [Question]="Question"

    [control]="control"

>


    <div class="range-field">


        <div class="range-header">


            <span>

                {{ control.value }}

            </span>


        </div>





        <mat-slider

            [min]="min"

            [max]="max"

            [step]="step"

            [disabled]="Question.readOnly"

        >


            <input

                matSliderThumb

                [formControl]="control"

            >


        </mat-slider>







        <div class="range-info">


            <span>

                Min: {{min}}

            </span>



            <span>

                Max: {{max}}

            </span>



            <span>

                Step: {{step}}

            </span>


        </div>


    </div>


</app-field-container>