.range-field {

    width:100%;

    display:flex;

    flex-direction:column;

    gap:12px;

}



.range-header {

    display:flex;

    justify-content:flex-end;

    font-weight:600;

}



mat-slider {

    width:100%;

}



.range-info {

    display:flex;

    justify-content:space-between;

    color:#777;

    font-size:12px;

}





@media(max-width:600px){

    .range-info {

        flex-direction:column;

        gap:4px;

    }

}