<div class="datetime-field">


    <mat-form-field appearance="outline">


        <mat-label>

            {{ Question.title || 'Date and time' }}

        </mat-label>



        <input

            matInput

            type="datetime-local"

            [formControl]="control"

            [readonly]="Question.readOnly"

            [required]="Question.required"

        >


    </mat-form-field>




    @if(errorMessage){

        <small class="validation-error">

            {{ errorMessage }}

        </small>

    }




    @if(Question.helpText){

        <small class="help">

            {{ Question.helpText }}

        </small>

    }


</div>