<div class="properties">

@if(Question){

<h2>Properties</h2>


<mat-form-field appearance="outline" class="full">

    <mat-label>Title</mat-label>

    <input
        matInput
        [(ngModel)]="Question.title"
        (ngModelChange)="update()">

</mat-form-field>


<mat-form-field appearance="outline" class="full">

    <mat-label>Description</mat-label>

    <textarea
        matInput
        rows="3"
        [(ngModel)]="Question.description"
        (ngModelChange)="update()">
    </textarea>

</mat-form-field>


<mat-form-field appearance="outline" class="full">

    <mat-label>Placeholder</mat-label>

    <input
        matInput
        [(ngModel)]="Question.placeholder"
        (ngModelChange)="update()">

</mat-form-field>


@if(isQuestion){

<mat-form-field appearance="outline" class="full">

    <mat-label>Response type</mat-label>

    <mat-select
        [value]="Question.type"
        (selectionChange)="changeType($event.value)">


        @for(type of responseTypes; track type.value){

            <mat-option [value]="type.value">

                {{type.label}}

            </mat-option>

        }


    </mat-select>

</mat-form-field>


<mat-slide-toggle
    [(ngModel)]="Question.required"
    (ngModelChange)="update()">

Required

</mat-slide-toggle>


}



<!-- VALIDATION -->

<h3>Validation</h3>


<mat-form-field appearance="outline" class="full">

<mat-label>Validation type</mat-label>

<mat-select
[(ngModel)]="Question.validationType"
(selectionChange)="update()">


<option value="TEXT">Text</option>
<option value="EMAIL">Email</option>
<option value="PHONE">Phone</option>
<option value="URL">URL</option>
<option value="NUMBER">Number</option>
<option value="DATE">Date</option>
<option value="PASSWORD">Password</option>
<option value="REGEX">Regex</option>


</mat-select>

</mat-form-field>



<div class="grid-2">


<mat-form-field appearance="outline">

<mat-label>Minimum length</mat-label>

<input
matInput
type="number"
[(ngModel)]="Question.minLength"
(ngModelChange)="update()">

</mat-form-field>



<mat-form-field appearance="outline">

<mat-label>Maximum length</mat-label>

<input
matInput
type="number"
[(ngModel)]="Question.maxLength"
(ngModelChange)="update()">

</mat-form-field>


</div>





@if(
Question.type === QuestionType.RADIO ||
Question.type === QuestionType.CHECKBOX ||
Question.type === QuestionType.SELECT
){


<app-option-editor

[options]="Question.options"

(optionsChange)="Question.options=$event;update()">

</app-option-editor>


}





<!-- CONDITIONS -->

<h3>Logic / Conditions</h3>


<button

mat-raised-button

type="button"

(click)="addConditionGroup()">

<mat-icon>
add
</mat-icon>

Add condition group

</button>





@for(group of Question.conditionGroups ?? []; track group.id; let g=$index){


<div class="condition-group">



<div class="condition-header">


<strong>

Group {{g+1}}

</strong>


<mat-select

[(ngModel)]="group.operator"

(ngModelChange)="update()">

<mat-option value="AND">
AND
</mat-option>

<mat-option value="OR">
OR
</mat-option>

</mat-select>



<button

mat-icon-button

color="warn"

(click)="removeConditionGroup(g)">


<mat-icon>
delete
</mat-icon>


</button>


</div>





@for(condition of group.conditions; track condition.id; let c=$index){



<div class="condition-row">



<mat-form-field appearance="outline">

<mat-label>Question</mat-label>

<mat-select

[(ngModel)]="condition.sourceQuestionId"

(ngModelChange)="update()">


@for(q of availableQuestions; track q.id){

<mat-option [value]="q.id">

{{q.title}}

</mat-option>

}


</mat-select>

</mat-form-field>





<mat-form-field appearance="outline">

<mat-label>Operator</mat-label>

<mat-select

[(ngModel)]="condition.operator"

(ngModelChange)="update()">


@for(op of operators; track op.value){

<mat-option [value]="op.value">

{{op.label}}

</mat-option>

}


</mat-select>

</mat-form-field>





<mat-form-field appearance="outline">

<mat-label>Value</mat-label>

<input

matInput

[(ngModel)]="condition.expectedValue"

(ngModelChange)="update()">

</mat-form-field>





<mat-form-field appearance="outline">

<mat-label>Action</mat-label>

<mat-select

[(ngModel)]="condition.action"

(ngModelChange)="update()">


@for(action of conditionActions; track action.value){

<mat-option [value]="action.value">

{{action.label}}

</mat-option>

}


</mat-select>

</mat-form-field>





<button

mat-icon-button

color="warn"

(click)="removeCondition(g,c)">


<mat-icon>
delete
</mat-icon>


</button>



</div>


}




<button

mat-button

type="button"

(click)="addCondition(g)">


<mat-icon>
add
</mat-icon>

Add condition


</button>


</div>


}






<!-- DISPLAY -->


<h3>Display</h3>


<mat-slide-toggle

[(ngModel)]="Question.readOnly"

(ngModelChange)="update()">

Read only

</mat-slide-toggle>



<mat-slide-toggle

[(ngModel)]="Question.disabled"

(ngModelChange)="update()">

Disabled

</mat-slide-toggle>



<mat-slide-toggle

[(ngModel)]="Question.hidden"

(ngModelChange)="update()">

Hidden

</mat-slide-toggle>


}

@else{


<div class="empty">

Select an item.

</div>


}


</div>