<div class="url-field">


    <mat-form-field appearance="outline">


        <mat-label>

            {{ Question.title || 'Website URL' }}

        </mat-label>



        <input

            matInput

            type="url"

            [(ngModel)]="urlValue"

            [placeholder]="Question.placeholder || 'https://example.com'"

            [readonly]="Question.readOnly"

        >


    </mat-form-field>



    @if(Question.helpText){

        <small class="help">

            {{ Question.helpText }}

        </small>

    }


</div>