<div class="preview">


@switch(Question.type){



@case(QuestionType.TITLE){

<h1 class="title">

    {{Question.title}}

</h1>

}





@case(QuestionType.SECTION){

<div class="section">

    {{Question.title}}

</div>

}





@case(QuestionType.PARAGRAPH){

<p class="paragraph">

    {{Question.description}}

</p>

}







@case(QuestionType.TEXT){

<mat-form-field appearance="outline">

<mat-label>

{{Question.title}}

</mat-label>


<input

matInput

[placeholder]="Question.placeholder || ''"

[value]="defaultValue || ''"

(input)="onInput($event)"

(blur)="onBlur($event)"

[attr.minlength]="Question.minLength"

[attr.maxlength]="Question.maxLength"

[pattern]="Question.pattern || null"

[readonly]="isReadonly()"

[required]="isRequired()"

>


</mat-form-field>

}








@case(QuestionType.TEXTAREA){

<mat-form-field appearance="outline">


<mat-label>

{{Question.title}}

</mat-label>


<textarea

matInput

rows="3"

[placeholder]="Question.placeholder || ''"

(input)="onInput($event)"

(blur)="onBlur($event)"

[attr.minlength]="Question.minLength"

[attr.maxlength]="Question.maxLength"

[readonly]="isReadonly()"

[required]="isRequired()"

>

{{defaultValue || ''}}

</textarea>


</mat-form-field>

}








@case(QuestionType.NUMBER){

<mat-form-field appearance="outline">


<mat-label>

{{Question.title}}

</mat-label>


<input

matInput

type="number"

[value]="defaultValue"

(input)="onInput($event)"

(blur)="onBlur($event)"

[min]="Question.minValue ?? null"

[max]="Question.maxValue ?? null"

[readonly]="isReadonly()"

[required]="isRequired()"

>


</mat-form-field>

}








@case(QuestionType.EMAIL){

<mat-form-field appearance="outline">


<mat-label>

{{Question.title}}

</mat-label>


<input

matInput

type="email"

[value]="defaultValue || ''"

(input)="onInput($event)"

(blur)="onBlur($event)"

[readonly]="isReadonly()"

[required]="isRequired()"

>


</mat-form-field>

}








@case(QuestionType.PHONE){

<app-k-phone

    [Question]="Question"

>

</app-k-phone>

}








@case(QuestionType.PASSWORD){

<app-k-password

    [Question]="Question"

>

</app-k-password>

}








@case(QuestionType.URL){

<app-k-url

    [Question]="Question"

>

</app-k-url>

}








@case(QuestionType.DATE){

<mat-form-field appearance="outline">


<mat-label>

{{Question.title}}

</mat-label>


<input

matInput

type="date"

[value]="defaultValue"

(input)="onInput($event)"

(blur)="onBlur($event)"

[min]="Question.minDate ?? null"

[max]="Question.maxDate ?? null"

[readonly]="isReadonly()"

[required]="isRequired()"

>


</mat-form-field>

}








@case(QuestionType.TIME){

<mat-form-field appearance="outline">


<mat-label>

{{Question.title}}

</mat-label>


<input

matInput

type="time"

[value]="defaultValue"

(input)="onInput($event)"

(blur)="onBlur($event)"

[readonly]="isReadonly()"

[required]="isRequired()"

>


</mat-form-field>

}








@case(QuestionType.DATETIME){

<mat-form-field appearance="outline">


<mat-label>

{{Question.title}}

</mat-label>


<input

matInput

type="datetime-local"

[value]="defaultValue"

(input)="onInput($event)"

(blur)="onBlur($event)"

[readonly]="isReadonly()"

[required]="isRequired()"

>


</mat-form-field>

}

@case(QuestionType.SELECT){

<mat-form-field appearance="outline">


<mat-label>

{{Question.title}}

</mat-label>



<mat-select

[value]="defaultValue"

[disabled]="isReadonly()"

>


@for(option of Question.options; track option.id){


<mat-option

[value]="option.value"

>

{{option.label}}

</mat-option>


}


</mat-select>



</mat-form-field>

}








@case(QuestionType.RADIO){

<mat-radio-group

[value]="defaultValue"

>


@for(option of Question.options; track option.id){


<mat-radio-button

[value]="option.value"

[disabled]="isReadonly()"

>

{{option.label}}

</mat-radio-button>


}


</mat-radio-group>

}








@case(QuestionType.CHECKBOX){


@for(option of Question.options; track option.id){


<mat-checkbox

[disabled]="isReadonly()"

>

{{option.label}}

</mat-checkbox>


}


}








@case(QuestionType.SWITCH){

<mat-slide-toggle

[disabled]="isReadonly()"

>

{{Question.title}}

</mat-slide-toggle>

}








@case(QuestionType.FILE){


<input

type="file"

[accept]="Question.acceptedFileTypes?.join(',')"

[multiple]="Question.multipleFiles"

[disabled]="isReadonly()"

>


}








@case(QuestionType.IMAGE){


<input

type="file"

accept="image/*"

[multiple]="Question.multipleFiles"

[disabled]="isReadonly()"

>


}








@case(QuestionType.SIGNATURE){


<div class="signature">

Signature

</div>


}








@case(QuestionType.RATING){


<div class="rating">


@for(star of getRatingStars(); track star){


<span>

⭐

</span>


}


</div>


}








@case(QuestionType.SCALE){


<mat-slider


[min]="minScale"

[max]="maxScale"

[step]="step"


>

<input matSliderThumb>

</mat-slider>


}








@case(QuestionType.RANGE){


<mat-slider


[min]="Question.rangeMin ?? 0"

[max]="Question.rangeMax ?? 100"

[step]="Question.rangeStep ?? 1"


>

<input matSliderThumb>

</mat-slider>


}








@case(QuestionType.ADDRESS){

<app-k-address

    [Question]="Question"

>

</app-k-address>

}








@case(QuestionType.LOCATION){

<app-k-location

    [Question]="Question"

>

</app-k-location>

}








@case(QuestionType.MAP){

<app-k-map

    [Question]="Question"

>

</app-k-map>

}








@case(QuestionType.COLOR){

<app-k-color

    [Question]="Question"

>

</app-k-color>

}








@case(QuestionType.HIDDEN){

<app-k-hidden

    [Question]="Question"

>

</app-k-hidden>

}








@case(QuestionType.DIVIDER){

<app-k-divider>

</app-k-divider>

}








@case(QuestionType.HTML){

<app-k-html

    [Question]="Question"

>

</app-k-html>

}








@case(QuestionType.LABEL){

<app-k-label

    [Question]="Question"

>

</app-k-label>

}

@case(QuestionType.QR){

<div class="placeholder">

QR Code

</div>

}








@case(QuestionType.BARCODE){

<div class="placeholder">

Barcode

</div>

}








@default{

<div class="placeholder">

Preview unavailable

</div>

}


}





@if(Question.helpText){

<div class="help-text">

{{Question.helpText}}

</div>

}





@if(Question.required){

<div class="required">

* Required

</div>

}





@if(errorMessage){

<div class="validation-error">

{{errorMessage}}

</div>

}





</div>