<div class="preview">

@switch (Question.type) {

  @case (QuestionType.TITLE) {

    <app-k-title
      [Question]="Question">
    </app-k-title>

  }

  @case (QuestionType.SECTION) {

    <app-k-section
      [Question]="Question">
    </app-k-section>

  }

  @case (QuestionType.PARAGRAPH) {

    <app-k-paragraph
      [Question]="Question">
    </app-k-paragraph>

  }

  @case (QuestionType.TEXT) {

    <app-k-text
      [Question]="Question"
      [control]="control">
    </app-k-text>

  }

  @case (QuestionType.TEXTAREA) {

    <app-k-textarea
      [Question]="Question"
      [control]="control">
    </app-k-textarea>

  }

  @case (QuestionType.NUMBER) {

    <app-k-number
      [Question]="Question"
      [control]="control">
    </app-k-number>

  }

  @case (QuestionType.EMAIL) {

    <app-k-email
      [Question]="Question"
      [control]="control">
    </app-k-email>

  }

  @case (QuestionType.PHONE) {

    <app-k-phone
      [Question]="Question"
      [control]="control">
    </app-k-phone>

  }

  @case (QuestionType.PASSWORD) {

    <app-k-password
      [Question]="Question"
      [control]="control">
    </app-k-password>

  }

  @case (QuestionType.URL) {

    <app-k-url
      [Question]="Question"
      [control]="control">
    </app-k-url>

  }

  @case (QuestionType.DATE) {

    <app-k-date
      [Question]="Question"
      [control]="control">
    </app-k-date>

  }

  @case (QuestionType.TIME) {

    <app-k-time
      [Question]="Question"
      [control]="control">
    </app-k-time>

  }

  @case (QuestionType.DATETIME) {

    <app-k-datetime
      [Question]="Question"
      [control]="control">
    </app-k-datetime>

  }

  @case (QuestionType.SELECT) {

    <app-k-select
      [Question]="Question"
      [control]="control">
    </app-k-select>

  }

  @case (QuestionType.RADIO) {

    <app-k-radio
      [Question]="Question"
      [control]="control">
    </app-k-radio>

  }

  @case (QuestionType.CHECKBOX) {

    <app-k-checkbox
      [Question]="Question"
      [control]="control">
    </app-k-checkbox>

  }

  @case (QuestionType.SWITCH) {

    <app-k-switch
      [Question]="Question"
      [control]="control">
    </app-k-switch>

  }

  @case (QuestionType.FILE) {

    <app-k-file
      [Question]="Question"
      [control]="control">
    </app-k-file>

  }

  @case (QuestionType.IMAGE) {

    <app-k-image
      [Question]="Question"
      [control]="control">
    </app-k-image>

  }

  @case (QuestionType.SIGNATURE) {

    <app-k-signature
      [Question]="Question"
      [control]="control">
    </app-k-signature>

  }

  @case (QuestionType.RATING) {

    <app-k-rating
      [Question]="Question"
      [control]="control">
    </app-k-rating>

  }

  @case (QuestionType.SCALE) {

    <app-k-scale
      [Question]="Question"
      [control]="control">
    </app-k-scale>

  }

  @case (QuestionType.RANGE) {

    <app-k-range
      [Question]="Question"
      [control]="control">
    </app-k-range>

  }

  @case (QuestionType.ADDRESS) {

    <app-k-address
      [Question]="Question"
      [control]="control">
    </app-k-address>

  }

  @case (QuestionType.LOCATION) {

    <app-k-location
      [Question]="Question"
      [control]="control">
    </app-k-location>

  }

  @case (QuestionType.MAP) {

    <app-k-map
      [Question]="Question">
    </app-k-map>

  }

  @case (QuestionType.COLOR) {

    <app-k-color
      [Question]="Question"
      [control]="control">
    </app-k-color>

  }

  @case (QuestionType.HIDDEN) {

    <app-k-hidden
      [Question]="Question"
      [control]="control">
    </app-k-hidden>

  }

  @case (QuestionType.DIVIDER) {

    <app-k-divider
      [Question]="Question">
    </app-k-divider>

  }

  @case (QuestionType.HTML) {

    <app-k-html
      [Question]="Question">
    </app-k-html>

  }

  @case (QuestionType.LABEL) {

    <app-k-label
      [Question]="Question">
    </app-k-label>

  }

  @case (QuestionType.QR) {

    <app-k-qr
      [Question]="Question">
    </app-k-qr>

  }

  @case (QuestionType.BARCODE) {

    <app-k-barcode
      [Question]="Question">
    </app-k-barcode>

  }

  @default {

    <div class="placeholder">
      Preview unavailable
    </div>

  }

}

</div>