<div class="number-field">


    <mat-form-field appearance="outline">


        <mat-label>

            {{ Question.title || 'Number' }}

        </mat-label>




        <input

            matInput

            type="number"

            [formControl]="control"

            [placeholder]="Question.placeholder || ''"

            [readonly]="Question.readOnly"

            [attr.min]="Question.minValue ?? null"

            [attr.max]="Question.maxValue ?? null"

        >


    </mat-form-field>






    @if(errorMessage){


        <small class="validation-error">

            {{ errorMessage }}

        </small>


    }






    @if(Question.helpText){


        <small class="help">

            {{ Question.helpText }}

        </small>


    }


</div>