<div class="preview">


@switch(Question.type){



@case("TEXT"){

<input

    type="text"

    [placeholder]="Question.placeholder || 'Réponse courte...'"

    disabled

/>

}



@case("TEXTAREA"){

<textarea

    rows="3"

    [placeholder]="Question.placeholder || 'Réponse longue...'"

    disabled

></textarea>

}



@case("NUMBER"){

<input

    type="number"

    [placeholder]="Question.placeholder || '123'"

    disabled

/>

}



@case("EMAIL"){

<input

    type="email"

    [placeholder]="Question.placeholder || 'email@domaine.com'"

    disabled

/>

}



@case("PHONE"){

<input

    type="tel"

    [placeholder]="Question.placeholder || '+261...'"

    disabled

/>

}



@case("DATE"){

<input

    type="date"

    disabled

/>

}



@case("TIME"){

<input

    type="time"

    disabled

/>

}



@case("DATETIME"){

<input

    type="datetime-local"

    disabled

/>

}



@case("SELECT"){

<select disabled>

@for(option of Question.options; track option.id){

<option>

{{ option.label }}

</option>

}

</select>

}



@case("RADIO"){

@for(option of Question.options; track option.id){

<label>

<input

    type="radio"

    disabled

>

{{ option.label }}

</label>

}

}



@case("CHECKBOX"){

@for(option of Question.options; track option.id){

<label>

<input

    type="checkbox"

    disabled

>

{{ option.label }}

</label>

}

}



@case("SWITCH"){

<label>

<input

    type="checkbox"

    disabled

>

Activer

</label>

}



@case("FILE"){

<input

    type="file"

    disabled

/>

}



@case("RATING"){

<div class="rating">

    ⭐⭐⭐⭐⭐

</div>

}



@case("SCALE"){

<div class="scale">

    <span>1</span>

    <span>2</span>

    <span>3</span>

    <span>4</span>

    <span>5</span>

</div>

}



@default{

<div class="placeholder">

Preview indisponible

</div>

}


}



@if(Question.helpText){

<div class="help-text">

    {{ Question.helpText }}

</div>

}


</div>