<mat-form-field

    appearance="outline"

    class="full"

>



    <mat-label>

        {{ Question.title || 'Password' }}

    </mat-label>





    <input

        matInput

        [(ngModel)]="passwordValue"

        (ngModelChange)="updatePassword()"

        [type]="hidePassword ? 'password' : 'text'"

        [placeholder]="Question.placeholder || ''"

        [required]="Question.required"

        [readonly]="Question.readOnly"

    >





    <button

        mat-icon-button

        matSuffix

        type="button"

        (click)="togglePassword()"

        [disabled]="Question.readOnly"

    >


        <mat-icon>

            {{hidePassword ? 'visibility' : 'visibility_off'}}

        </mat-icon>


    </button>



</mat-form-field>






@if(errorMessage){

<div class="validation-error">

    {{errorMessage}}

</div>

}






@if(Question.helpText){

<p class="help">

    {{Question.helpText}}

</p>

}