.full {

    width:100%;

}



.help {

    font-size:13px;

    color:#777;

    margin-top:-10px;

}



.validation-error {

    color:#d32f2f;

    font-size:13px;

    font-weight:500;

    margin-top:-8px;

}