.preview-container {

    background: var(--background);

    padding:20px;

    border-radius:16px;

    height:100%;


    h2 {

        color:var(--text);

        margin-bottom:20px;

    }


}



.question-card {


    background:var(--surface);


    border:1px solid var(--border);


    border-radius:14px;


    padding:24px;


    box-shadow:
        0 4px 12px rgba(18,52,77,.08);



}



.question-header {


    display:flex;

    align-items:center;

    gap:8px;


    h3 {

        color:var(--text);

        margin-bottom:20px;

    }


}



.required {

    color:var(--danger);

    font-size:22px;

}



mat-form-field {


    width:100%;


}



mat-radio-button,
mat-checkbox {


    display:block;

    margin:12px 0;


}



.empty {


    height:200px;


    display:flex;

    align-items:center;

    justify-content:center;


    color:var(--text-light);


    background:white;


    border-radius:14px;


}