<div class="preview">


@if(builder.template; as template){


    <div class="preview-header">

        <h2>
            {{template.title}}
        </h2>


        @if(template.description){

            <p>
                {{template.description}}
            </p>

        }


    </div>





    <div class="form-preview">


    @for(Question of template.questions; track Question.id){



        <div class="question-preview">



            <h4>

                {{Question.title}}

                @if(Question.required){

                    <span class="required">
                        *
                    </span>

                }

            </h4>





            @if(Question.description){

                <p class="description">

                    {{Question.description}}

                </p>

            }





            @switch(Question.type){



                @case(QuestionType.TEXT){

                    <mat-form-field appearance="outline">

                        <mat-label>
                            {{Question.title}}
                        </mat-label>


                        <input
                            matInput
                            [placeholder]="Question.placeholder || ''"
                        >

                    </mat-form-field>

                }




                @case(QuestionType.TEXTAREA){


                    <mat-form-field appearance="outline">


                        <mat-label>
                            {{Question.title}}
                        </mat-label>


                        <textarea

                            matInput

                            rows="4"

                            [placeholder]="Question.placeholder || ''">

                        </textarea>


                    </mat-form-field>


                }




                @case(QuestionType.RADIO){


                    <mat-radio-group>


                    @for(option of Question.options; track option.id){


                        <mat-radio-button
                            [value]="option.value">

                            {{option.label}}

                        </mat-radio-button>


                    }


                    </mat-radio-group>


                }




                @case(QuestionType.CHECKBOX){


                    @for(option of Question.options; track option.id){


                        <mat-checkbox>

                            {{option.label}}

                        </mat-checkbox>


                    }


                }




                @case(QuestionType.SELECT){


                    <mat-form-field appearance="outline">


                        <mat-label>
                            Sélection
                        </mat-label>


                        <mat-select>


                        @for(option of Question.options; track option.id){


                            <mat-option
                                [value]="option.value">

                                {{option.label}}

                            </mat-option>


                        }


                        </mat-select>


                    </mat-form-field>


                }




                @case(QuestionType.NUMBER){


                    <mat-form-field appearance="outline">

                        <mat-label>
                            Number
                        </mat-label>


                        <input
                            matInput
                            type="number"
                        >

                    </mat-form-field>


                }




                @case(QuestionType.EMAIL){


                    <mat-form-field appearance="outline">

                        <mat-label>
                            Email
                        </mat-label>


                        <input
                            matInput
                            type="email"
                        >

                    </mat-form-field>


                }




                @case(QuestionType.DATE){


                    <mat-form-field appearance="outline">

                        <mat-label>
                            Date
                        </mat-label>


                        <input
                            matInput
                            type="date"
                        >

                    </mat-form-field>


                }




                @case(QuestionType.RATING){

                    <div class="rating">

                        ⭐⭐⭐⭐⭐

                    </div>

                }




                @default{


                    <div class="placeholder">

                        Preview indisponible

                    </div>


                }


            }


        </div>



    }



    </div>


}

@else{


<div class="empty">


    <mat-icon>
        description
    </mat-icon>


    <p>
        Aucun formulaire chargé.
    </p>


</div>


}


</div>