<app-field-container

    [Question]="Question"

    [control]="control"

>


    <div class="rating-field">


        <div class="stars">


            @for(star of stars(); track $index){


                <button

                    type="button"

                    class="star"

                    [class.active]="$index < control.value"

                    [disabled]="Question.readOnly"

                    (click)="setRating($index)"

                >

                    ★

                </button>


            }


        </div>





        @if(control.value){


            <span class="value">

                {{ control.value }} / {{ maxRating }}

            </span>


        }


    </div>


</app-field-container>