<app-field-container

    [Question]="Question"

    [control]="control"

>


    <div class="scale-field">


        <div class="header">


            <span class="value">

                {{ control.value }}

            </span>


        </div>





        <mat-slider

            [min]="min"

            [max]="max"

            [step]="step"

            [disabled]="Question.readOnly"

        >


            <input

                matSliderThumb

                [formControl]="control"

            >


        </mat-slider>





        <div class="labels">


            <span>

                {{min}}

            </span>



            <span>

                {{max}}

            </span>


        </div>


    </div>


</app-field-container>