.scale-field {

    width:100%;

    display:flex;

    flex-direction:column;

    gap:8px;

}



.header {

    display:flex;

    justify-content:flex-end;

    align-items:center;

}



.value {

    font-weight:bold;

}



mat-slider {

    width:100%;

}



.labels {

    display:flex;

    justify-content:space-between;

    color:#777;

    font-size:12px;

}