<div class="builder-page">

    <app-toolbar></app-toolbar>


    <div class="builder-body">


        <aside class="left-panel">

            <app-question-palette
                (questionAdded)="addQuestion($event)">
            </app-question-palette>

        </aside>



        <section class="center-panel">

            <app-canvas>
            </app-canvas>

        </section>



        <aside class="right-panel">


            @if(builder.getSelectedQuestion()) {

                <app-property-editor

                    [question]="builder.getSelectedQuestion()!"

                    (questionChange)="builder.updateQuestion($event)"

                >
                </app-property-editor>

            }
            @else {

                <div class="empty-property">

                    Sélectionnez une question

                </div>

            }



            <app-question-preview>
            </app-question-preview>


        </aside>


    </div>


</div>