<p>k-map works!</p>
<div class="map-container">


    <div class="map-header">


        <span>

            {{ Question.title || 'Map' }}

        </span>


    </div>



    <div class="map-placeholder">


        <div class="marker">

            📍

        </div>



        <div class="coordinates">


            Latitude :
            {{ latitude }}


            <br>


            Longitude :
            {{ longitude }}


            <br>


            Zoom :
            {{ zoom }}


        </div>



    </div>



</div>