<div
    class="question-card"
    [class.selected]="selected"
    (click)="select()"
>


    <div class="card-header">


        <div class="info">


            <h3>
                {{ Question.title || 'New Question' }}
            </h3>


            <span class="type">

                {{ Question.type }}

            </span>


        </div>




        <div class="actions">


            <button

                mat-icon-button

                type="button"

                (click)="duplicateQuestion($event)"

            >

                <mat-icon>
                    content_copy
                </mat-icon>

            </button>




            <button

                mat-icon-button

                color="warn"

                type="button"

                (click)="deleteQuestion($event)"

            >

                <mat-icon>
                    delete
                </mat-icon>

            </button>


        </div>


    </div>





    @if(Question.description){

        <p class="description">

            {{ Question.description }}

        </p>

    }





    <app-preview-renderer

        [Question]="Question">

    </app-preview-renderer>





    <div class="status">


        @if(Question.required){

            <span class="required">

                Required

            </span>

        }

        @else{

            <span>

                Optional

            </span>

        }


    </div>


</div>