<div class="phone-container">


    <mat-form-field

        appearance="outline"

        class="country-field"

    >


        <mat-label>

            Country

        </mat-label>




        <mat-select

            [value]="selectedCountry"

            (selectionChange)="updateCountry($event.value)"

            [disabled]="Question.readOnly"

        >


            @for(country of countries; track country.code){


                <mat-option

                    [value]="country.code"

                >

                    {{country.name}}

                    ({{country.code}})

                </mat-option>


            }


        </mat-select>


    </mat-form-field>








    <mat-form-field

        appearance="outline"

        class="number-field"

    >


        <mat-label>

            {{Question.title || 'Phone number'}}

        </mat-label>




        <input


            matInput


            type="tel"


            [value]="phoneValue"


            (input)="updatePhone($any($event.target).value)"


            [placeholder]="Question.placeholder || 'Phone number'"


            [readonly]="Question.readOnly"


            [required]="Question.required"


        >



    </mat-form-field>



</div>







@if(errorMessage){

<div class="validation-error">

    {{errorMessage}}

</div>

}







@if(Question.helpText){

<div class="help-text">

    {{Question.helpText}}

</div>

}







@if(Question.required){

<div class="required">

    * Required

</div>

}