<div class="image-field">


    <label class="title">

        {{ Question.title || 'Upload image' }}

    </label>




    <input

        type="file"

        accept="image/*"

        [multiple]="Question.multipleFiles"

        [disabled]="Question.readOnly"

        (change)="onImageChange($event)"

    >





    @if(previews.length){


        <div class="preview-grid">


            @for(image of previews; track image){


                <img

                    [src]="image"

                    alt="preview"

                >


            }


        </div>


    }




    @if(control.invalid && (control.touched || control.dirty)){


        <small class="validation-error">


            Invalid image.


        </small>


    }




    @if(Question.helpText){


        <small class="help">

            {{ Question.helpText }}

        </small>


    }


</div>