<div class="address-field">


<h4>

{{Question.title || 'Address'}}

</h4>



@if(fields.street){

<mat-form-field appearance="outline">

<mat-label>
Street
</mat-label>


<input

matInput

[value]="address.street"

(input)="onChange('street',$event)"

(blur)="onBlur()"

[readonly]="readonly"

>


</mat-form-field>

}




@if(fields.city){

<mat-form-field appearance="outline">

<mat-label>
City
</mat-label>


<input

matInput

[value]="address.city"

(input)="onChange('city',$event)"

(blur)="onBlur()"

[readonly]="readonly"

>


</mat-form-field>

}





@if(fields.state){

<mat-form-field appearance="outline">

<mat-label>
State
</mat-label>


<input

matInput

[value]="address.state"

(input)="onChange('state',$event)"

(blur)="onBlur()"

[readonly]="readonly"

>


</mat-form-field>

}





<div class="row">


@if(fields.zip){

<mat-form-field appearance="outline">

<mat-label>
Zip Code
</mat-label>


<input

matInput

[value]="address.zip"

(input)="onChange('zip',$event)"

(blur)="onBlur()"

[readonly]="readonly"

>


</mat-form-field>

}





@if(fields.country){

<mat-form-field appearance="outline">

<mat-label>
Country
</mat-label>


<input

matInput

[value]="address.country"

(input)="onChange('country',$event)"

(blur)="onBlur()"

[readonly]="readonly"

>


</mat-form-field>

}


</div>




<app-field-errors

[control]="control"

[Question]="Question">

</app-field-errors>




@if(helpText){

<div class="help">

{{helpText}}

</div>

}


</div>