<div 
    class="paragraph-card"
    (click)="selectQuestion()"
>


    <div class="card-header">


        <p>
            {{ Question.description || 'New paragraph' }}
        </p>



        <div class="actions">


            <button

                mat-icon-button

                type="button"

                (click)="duplicateQuestion($event)"

            >

                <mat-icon>
                    content_copy
                </mat-icon>

            </button>




            <button

                mat-icon-button

                color="warn"

                type="button"

                (click)="deleteQuestion($event)"

            >

                <mat-icon>
                    delete
                </mat-icon>

            </button>


        </div>


    </div>


</div>