<app-field-container

    [Question]="Question"

    [control]="control"

>


    <div class="signature-field">


        <canvas

            #canvas

            width="500"

            height="200"

            (mousedown)="startDrawing($event)"

            (mousemove)="draw($event)"

            (mouseup)="stopDrawing()"

            (mouseleave)="stopDrawing()"

            [class.disabled]="Question.readOnly"

        >

        </canvas>





        <button

            type="button"

            (click)="clear()"

            [disabled]="Question.readOnly ?? false"

        >

            Clear

        </button>


    </div>


</app-field-container>