<div class="canvas">


    <div

        class="drop-zone"

        cdkDropList

        (cdkDropListDropped)="drop($event)"

    >


        @if(builder.questions.length){


            @for(
                question of builder.questions;
                track question.id
            ){



                @switch(question.type){



                    @case(QuestionType.TITLE){


                        <app-title-card

                            cdkDrag

                            [Question]="question"

                            (click)="builder.selectQuestion(question.id)"

                            (duplicate)="duplicateQuestion($event)"

                            (remove)="deleteQuestion($event)"

                        />


                    }





                    @case(QuestionType.SECTION){


                        <app-section-card

                            cdkDrag

                            [Question]="question"

                            (selected)="builder.selectQuestion($event)"

                            (duplicate)="duplicateQuestion($event)"

                            (remove)="deleteQuestion($event)"

                        />

                    }





                    @case(QuestionType.PARAGRAPH){


                        <app-paragraph-card

                            cdkDrag

                            [Question]="question"

                            (click)="builder.selectQuestion(question.id)"

                            (duplicate)="duplicateQuestion($event)"

                            (remove)="deleteQuestion($event)"

                        />

                    }





                    @default{


                        <app-question-card

                            cdkDrag

                            [Question]="question"

                            (QuestionSelected)="builder.selectQuestion($event)"

                            (duplicate)="duplicateQuestion($event)"

                            (remove)="deleteQuestion($event)"

                        />


                    }



                }


            }


        }



        @else{


            <div class="empty">


                Drag a Question here


            </div>


        }


    </div>


</div>