.canvas {

    width:100%;

    min-height:500px;

    padding:20px;

}



.drop-zone {


    min-height:300px;


    padding:20px;


    border:2px dashed #ccc;


    border-radius:12px;


    background:#fafafa;


}



.empty {


    text-align:center;


    color:#777;


    padding:50px;


    font-style:italic;


}



app-Question-card,
app-title-card,
app-section-card,
app-paragraph-card {


    display:block;


    margin-bottom:15px;


}