<div class="canvas">


    <div

        class="drop-zone"

        cdkDropList

        (cdkDropListDropped)="drop($event)"

    >


        @if(builder.questions.length){



            @for(question of builder.questions; track question.id){



                @if(question.type === QuestionType.TITLE){


                    <app-title-card

                        [Question]="question"

                        (click)="builder.selectQuestion(question.id)"

                        (duplicate)="duplicateQuestion($event)"

                        (remove)="deleteQuestion($event)"

                    />

                }



              @else if(question.type === QuestionType.SECTION){


                <app-section-card

                    [Question]="question"

                    (selected)="builder.selectQuestion($event)"

                    (duplicate)="duplicateQuestion($event)"

                    (remove)="deleteQuestion($event)"

                >
                </app-section-card>


              }



                @else if(question.type === QuestionType.PARAGRAPH){


                    <app-paragraph-card

                        [Question]="question"

                        (click)="builder.selectQuestion(question.id)"

                        (duplicate)="duplicateQuestion($event)"

                        (remove)="deleteQuestion($event)"

                    />

                }



                @else {


                    <app-Question-card

                        cdkDrag

                        [Question]="question"

                        (QuestionSelected)="builder.selectQuestion($event)"

                        (duplicate)="duplicateQuestion($event)"

                        (remove)="deleteQuestion($event)"

                    />


                }


            }



        }


        @else {


            <div class="empty">

                Drag a Question here

            </div>


        }



    </div>


</div>