<div class="location-field">


<h4>

{{Question.title || 'Location'}}

</h4>





<div class="coordinates">


<mat-form-field appearance="outline">


<mat-label>

Latitude

</mat-label>


<input

matInput

type="number"

[value]="latitude"

(input)="updateLatitude($any($event.target).value)"

[readonly]="Question.readOnly"

>


</mat-form-field>





<mat-form-field appearance="outline">


<mat-label>

Longitude

</mat-label>


<input

matInput

type="number"

[value]="longitude"

(input)="updateLongitude($any($event.target).value)"

[readonly]="Question.readOnly"

>


</mat-form-field>



</div>





@if(!Question.readOnly){


<button

mat-raised-button

type="button"

(click)="getCurrentLocation()"

>

📍 Get my location

</button>


}





<div class="location-preview">


<span>

📍

</span>



<div>

Latitude :
{{latitude}}

<br>

Longitude :
{{longitude}}

</div>


</div>






@if(errorMessage){

<div class="validation-error">

{{errorMessage}}

</div>

}






@if(Question.helpText){

<div class="help">

{{Question.helpText}}

</div>

}


</div>