<div class="options-editor">


    <div class="header">


        <div>

            <h3>
                Options
            </h3>

            <p>
                Configure possible answers
            </p>

        </div>



        <button

            mat-raised-button

            class="add-btn"

            type="button"

            (click)="add()"

        >

            <mat-icon>
                add
            </mat-icon>

            Add option

        </button>


    </div>






    <div class="options-list">


        @for(option of options; track option.id; let i=$index){


            <div class="option-card">


                <div class="number">

                    {{i + 1}}

                </div>





                <mat-form-field
                    appearance="outline"
                >

                    <mat-label>
                        Option {{i + 1}}
                    </mat-label>


                    <input

                        matInput

                        [value]="option.label"

                        (input)="updateLabel(
                            i,
                            $any($event.target).value
                        )"

                    />


                </mat-form-field>





                <button

                    mat-icon-button

                    class="delete-btn"

                    type="button"

                    (click)="remove(i)"

                >

                    <mat-icon>
                        delete
                    </mat-icon>


                </button>


            </div>


        }


    </div>







    @if(!options.length){


        <div class="empty">


            <mat-icon>
                playlist_add
            </mat-icon>


            <span>
                No option configured
            </span>


        </div>


    }



</div>